
 body {
	  font-family: sans-serif;
	  border: black thin solid ; 
	  background-color:grey;
	  text-shadow: 2px 2px 4px black;
   	  font-style: italic;
	  background-image:linear-gradient(to right,white,black);
	  color:black;
	  border-radius:4px ;
	  }
	  
	  
	  }
  #white
	  {   	color : white;
	 font-style: italic;
	 text-decoration: underline;
	}
  
  .sa
  {
  color :white;
  font-family: comic sans sm;
  border: 5px white groove;
  box-shadow: 6px 6px 0px black;
 }

  .f
 {
    
      text-shadow: 2px 2px 4px black;
text-decoration: underline;
 }
 
 
 
 

